{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>经费管理</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">经费管理</h2>
    <div style="margin-top: 20px">
        <table class="table table-hover">
            <tbody>
            <tr style="background-color:#b2dba1">
                <td style="font-weight: bold;">项目名称</td>
                <td style="font-weight: bold;">具体支出项目摘要</td>
                <td style="font-weight: bold;">类别</td>
                <td style="font-weight: bold">支出金额</td>
                <td style="font-weight: bold">支出日期</td>
            </tr>
            <tr>
                {% for fund in fund_list %}
                    <tr>
                        <td>{{ srtp_project.project_name }}</td>
                        <td>{{ fund.fund_name }}</td>
                        <td>{{ fund.get_fund_type_display }}</td>
                        <td>{{ fund.fund_num }}</td>
                        <td>{{ fund.fund_date }}</td>
                    </tr>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<br>
</html>
