<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>
<body>
<div style="margin-top: 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">进度管理</h2>
    <table class="table table-hover">
        <tbody>
        <tr style="background-color:#b2dba1">
            <td style="font-weight: bold; width: 15%">项目名称</td>
            <td style="font-weight: bold; width: 15%">记录时间</td>
            <td style="font-weight: bold; width: 10%">项目进度</td>
            <td style="font-weight: bold">项目进展说明</td>
        </tr>
        <tr>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
            <td>xx</td>
        </tr>
</body>
<br>
</html>
