{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>成果管理</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">成果管理</h2>
    <div style="margin-top: 20px">
        <table class="table table-hover">
            <tbody>
            <tr style="background-color:#b2dba1">
                <td style="font-weight: bold;">项目名称</td>
                <td style="font-weight: bold;">成果名称</td>
                <td style="font-weight: bold;">成果类型</td>
                <td style="font-weight: bold">取得日期</td>
                <td style="font-weight: bold">所有人</td>
                <td style="font-weight: bold">成果附件</td>
                <td style="font-weight: bold">操作</td>
            </tr>
            {% for result in result_list %}
                    <tr>
                        <td id="{{ result.id }}">{{ srtp_project.project_name }}</td>
                        <td>{{ result.result_name }}</td>
                        <td>{{ result.get_result_type_display }}</td>
                        <td>{{ result.result_date }}</td>
                        <td>{{ result.result_master }}</td>
                        <td><a style="color: blue" href="{{ result.result_file_url }}" target="_blank">{{ result.result_file_name }}</a></td>
                        <td>
                            <input type="button" onclick="removeTr(this)" value="删除" />
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function removeTr(node) {
        var msg = "确定要删除吗？";
        if (confirm(msg) == true) {
            //el = getParent(el, 'TR');
            //var rowIndex = el.rowIndex;
            //el = getParent(el, 'TABLE');
            //el.deleteRow(rowIndex);
            var tr1 = node.parentNode.parentNode;
            //alert(tr1.rowIndex);
            result_id = tr1.cells[0].id;
            $.ajax({
            data:
            {
                 'result_id': result_id,
            },
            type: "post", //提交方式
            dataType: "json", //数据类型
            url: "/tea/SrtpDeleteResult/", //请求url
            success: function(data) {
                if (data.status == 'success') {
                    alert("删除成功！");
                    location.reload();
                } else if (data.status == 'fail') {

                }
            }
        })
        } else {
            return false;
        }
    }
</script>
</body>
<br>
</html>
