<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
<body>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">项目结题申请</h2>
    <div style="margin-top: 20px">
        <table class="table table-hover">
            <tbody>
            <tr style="background-color:#b2dba1">
                <td style="font-weight: bold;">项目名称</td>
                <td style="font-weight: bold;">提交截止时间</td>
                <td style="font-weight: bold;">项目结题报告</td>
                <td style="font-weight: bold">审核状态</td>
                <td style="font-weight: bold">审核节点</td>
                <td style="font-weight: bold">操作</td>
            </tr>
            <tr>
                <td>xx</td>
                <td>2018-6-1</td>
                <td><a style="color: blue" href="#" target="_blank">xxxx.pdf</a></td>
                <td>审批中</td>
                <td>教务处审核</td>
                <td>
                    <button class="btn btn-success" type="submit">通过</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<br>
</html>
