<!DOCTYPE html>
<html lang="en">
<!-- 教师SRTP首页 -->
<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'teacher:Srtp_Home' %}">计通学院SRTP管理平台</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'teacher:Srtp_Home' %}">消息通知</a> </li>
            <li><a href="{% url 'teacher:Srtp_Prolist' %}">项目列表</a> </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'teacher:Srtp_ProPublish' %}" target="_blank">项目发布</a></li>
                    <li class="divider" role="separator"></li>
                    {% for project in project_view_list %}
                    <li><a href="{% url 'teacher:Srtp_ProManage' project.project_id %}">{{ project.project_name }}</a></li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a href="{% url 'main_platform:teaIndex' %}">首页</a></li>
            <li id="personCenter">
                <a href="{% url 'teacher:Info' %}" target="_blank" onclick="enterCenter()">个人中心</a>
            </li>
            <li id="exit"><a href="{% url 'main_platform:logout' %}">安全退出</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>通知公告</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="list-group">
            {% for notification in notification_list.object_list %}
            <a href="{% url 'teacher:Srtp_Notifi' notification.notifi_id %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ notification.notifi_title }}</h4>
                <small>{{ notification.notifi_date }}</small>
            </a>
            {% endfor %}
        </div>
        <div align="center">
            <ul class="pagination">
            {% if notification_list.has_previous %}
                <li class="long">
                    <a href="?{{ notification_list.previous_page_number.querystring }}" class="btn btn-primary">上一页</a>
                </li>
            {% endif %}

            {% for page in notification_list.pages %}

            {% if page %}
                {% ifequal page notification_list.number %}
                <li class="active">
                    <a href="?{{ page.querystring }}" class="btn btn-primary">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?{{ page.querystring }}" class="btn btn-primary">{{ page }}</a>
                </li>
                {% endifequal %}
            {% else %}
            <li class="none">
                <a href="" class="btn btn-primary">...</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if notification_list.has_next %}
                <li class="long">
                <a href="?{{ notification_list.next_page_number.querystring }}" class="btn btn-primary">下一页</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
</body>

</html>
