<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目发布</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px" align="center">项目发布</h2>
        <form method="post" name="proPublishForm" id="proPublishForm">
            <table class="table table-hover">
                <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目基本信息</span></td></tr>
                <tr>
                    <td style="font-weight: bold; ">项目名称</td>
                    <td><input type="text" style="background-color: white" name="name"></td>
                    <td style="font-weight: bold; ">所属创新计划</td>
                    <td><input type="text" style="background-color: white" name="plan"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">所属学科</td>
                    <td><input type="text" style="background-color: white" name="subject"></td>
                    <td style="font-weight: bold">所属学院</td>
                    <td><input type="text" style="background-color: white" name="depart"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">指导教师</td>
                    <td><input type="text" style="background-color: white" name="teacher"></td>
                    <td style="font-weight: bold">项目类型</td>
                    <td><input type="text" style="background-color: white" name="type"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">联系方式</td>
                    <td><input type="text" style="background-color: white" name="phone"></td>
                    <td style="font-weight: bold">邮箱</td>
                    <td><input type="text" style="background-color: white" name="email"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">人数建议</td>
                    <td><input type="text" style="background-color: white" name="people_number"> 人</td>
                </tr>
            </table>

            <table class="table table-hover">
                <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目简介</span></td></tr>
                    <tr>
                        <td>
                            <textarea cols="80" rows="8" style="background-color: white; resize: none" name="intro"></textarea>
                        </td>
                    </tr>
            </table>
        </form>
        <button type="button" class="btn btn-primary" onclick="pro_punlish()">提交</button>
    </div>
    <script type="text/javascript">
        function pro_punlish(){
            for(var i=0;i<document.getElementById("proPublishForm").elements.length-1;i++)
            {
               if(document.getElementById("proPublishForm").elements[i].value=="")
               {
                  alert("未填写所有内容！");
                  document.getElementById("proPublishForm").elements[i].focus();
                  return false;
               }
            }
            if (confirm("确认提交吗？")) {
                var form_data = new FormData(document.getElementById("proPublishForm"));
                $.ajax({
                    data: form_data,
                    type: "post", //提交方式
                    processData: false,
                     contentType: false,
                    //dataType: "json", //数据类型
                    url: "//", //请求url
                    success: function(data) {
                        if (data.status == 'success') {
                                window.open("submitSuccess.html","_self");
                        } else if (data.status == 'fail') {

                        }
                    }
                });
            } else {
                return false;
            }
        }
    </script>
</body>

</html>
