<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
<body>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" align="center">项目信息</h2>
    <table class="table table-hover">
        <tbody>
        <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目基本信息</span></td></tr>
        <tr>
            <td style="font-weight: bold; width: 10%">项目名称</td>
            <td >xx</td>
            <td style="font-weight: bold; width: 10%">所属创新计划</td>
            <td >xx</td>
        </tr>
        <tr>
            <td style="font-weight: bold">所属学科</td>
            <td>xx</td>
            <td style="font-weight: bold">所属学院</td>
            <td>xx</td>
        </tr>
        <tr>
            <td style="font-weight: bold">指导教师</td>
            <td>xx</td>
            <td style="font-weight: bold">项目类型</td>
            <td>xx</td>
        </tr>
        <tr>
            <td style="font-weight: bold">教师联系方式</td>
            <td>xx</td>
            <td style="font-weight: bold">教师邮箱</td>
            <td>xx</td>
        </tr>
        <tr>
            <td style="font-weight: bold">人数建议</td>
            <td>3~4人</td>
        </tr>
        <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目简介</span></td></tr>
        <tr>
            <td colspan="10"><span>
                基于cocos2d游戏引擎，开发一个含有转炉、精炼和连铸等工序的虚拟炼钢厂。本项目将构建一个现代化大型板坯炼钢厂（包括炼钢、精炼、连铸等主体工序，热修、检查和烘烤等辅助工序，台车、天车等运输工具以及重要的钢水载运工具-钢包），以动画的形式直观地展示炼钢厂的生产过程，比较不同工艺路径的生产计划对钢包周转率的影响，优化天车作业。

可以利用“虚拟炼钢厂”解决如下问题:
1.对于一定数量的生产计划，不同天车调运策略（分区运输、就近运输）对钢包周转的影响，以及天车作业率分析，提出改进型天车作业方式；
2.对于一定天车调运策略下，不同类别的生产计划对于钢包周转率的影响，分析工序瓶颈，提出工艺流程优化方案。
在完成这两个目标的前提下再进行其他问题的拓展以及优化，比如将界面美化，三维化，还可设计接口，供不同的炼钢厂模拟其生产运输过程。

            </span></td>
        </tr>
        <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">要求</span></td></tr>
        <tr>
            <td colspan="10"><span>
                lllllllllllllllllllllllll
            </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
