{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body onload="conPassJudge()">
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">项目结题申请</h2>
        <div style="margin-top: 20px">
            <table class="table table-hover" style="table-layout:fixed;">
                <tbody>
                <tr style="background-color:#b2dba1">
                    <td style="font-weight: bold;">项目名称</td>
                    <td style="font-weight: bold;">提交截止时间</td>
                    <td style="font-weight: bold;">项目结题报告</td>
                    <td style="font-weight: bold">审核状态</td>
                    <td style="font-weight: bold">审核节点</td>
                    <td style="font-weight: bold">操作</td>
                </tr>
                <tr>
                    <td>{{ srtp_project.project_name }}</td>
                    <td>{{ conclusion.conclusion_deadline_date }}</td>
                    <td><a style="color: blue" href="{{ conclusion.conclusion_file_url }}" target="_blank">{{ conclusion.conclusion_file_name }}</a></td>
                    <td>{{ conclusion.get_conclusion_check_status_display }}</td>
                    <td id="conState">{{ conclusion.get_conclusion_check_point_display }}</td>
                    <td id="conPass">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function conPassJudge(){
            if(document.getElementById("conState").innerHTML=="教务处审核"){
                document.getElementById("conPass").innerHTML = "您已通过";
            } else if(document.getElementById("conState").innerHTML=="教师审核"){
                document.getElementById("conPass").innerHTML = '<button type="button"  onclick="conPassTeacher()">通过</button>';
            } else {
                document.getElementById("conPass").innerHTML = "";
            }
        }

        function conPassTeacher(){
            $.ajax({
                data:{
                    'com_pass':"concluding teacher pass"
                },
                type: "post", //提交方式
                dataType: "json", //数据类型
                url: "/tea/SrtpConcluApply/{{ srtp_project.project_id }}/", //请求url
                success: function(data) {
                    if (data.status == 'success') {
                        location.reload();
                    } else if (data.status == 'fail') {

                    }
                }
            })
        }
    </script>
</body>
<br>
</html>
