{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body onload="midPassJudge()">
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">中期检查申请</h2>
        <div style="margin-top: 20px">
            <table class="table table-hover" style="table-layout:fixed;">
                <tbody>
                <tr style="background-color:#b2dba1">
                    <td style="font-weight: bold;">项目名称</td>
                    <td style="font-weight: bold;">提交截止时间</td>
                    <td style="font-weight: bold;">中期检查报告</td>
                    <td style="font-weight: bold">审核状态</td>
                    <td style="font-weight: bold">审核节点</td>
                    <td style="font-weight: bold">操作</td>
                </tr>
                <tr>
                    <td>{{ srtp_project.project_name }}</td>
                    <td>{{ midterm.midterm_deadline_date }}</td>
                    {% if midterm.midterm_file_name %}
                        <td><a style="color: blue" href="{{ midterm.midterm_file_url }}" target="_blank">{{ midterm.midterm_file_name }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ midterm.get_midterm_check_status_display }}</td>
                    <td id="midState">{{ midterm.get_midterm_check_point_display }}</td>
                    <td id="midPass">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function midPassJudge(){
            if(document.getElementById("midState").innerHTML=="教务处审核"){
                document.getElementById("midPass").innerHTML = "您已通过";
            } else if(document.getElementById("midState").innerHTML=="教师审核"){
                document.getElementById("midPass").innerHTML = '<button type="button"  onclick="midPassTeacher()">通过</button>';
            } else {
                document.getElementById("midPass").innerHTML = "";
            }
        }

        function midPassTeacher(){
            if (confirm("确认通过吗？")) {
                $.ajax({
                    data: {
                        'mid_pass': "midterm teacher pass"
                    },
                    type: "post", //提交方式
                    dataType: "json", //数据类型
                    url: "/tea/SrtpMidTermApply/{{ srtp_project.project_id }}/", //请求url
                    success: function (data) {
                        if (data.status == 'success') {
                            alert("提交成功！");
                            location.reload();
                        } else if (data.status == 'fail') {

                        }
                    }
                })
            }
        }
    </script>
</body>
<br>
</html>
