<!-- 教改－项目管理 -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>教师首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'teacher:EduReform_home' %}">计通学院教改/教研/教材管理平台</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="{% url 'teacher:EduReform_home' %}">消息通知</a> </li>
            <li class="active" class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'teacher:EduReform_Apply' %}" target="_blank">项目申请</a></li>
                    <li class="divider" role="separator"></li>
                    {% for eduproject in eduproject_view_list %}
                    <li><a href="{% url 'teacher:EduReform_Manage' eduproject.eduproject_id %}">{{ eduproject.eduproject_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li id="personCenter">
                <a href="{% url 'teacher:Info' %}" target="_blank" onclick="enterCenter()">个人中心</a>
            </li>
            <li id="exit"><a href="{% url 'main_platform:logout' %}">安全退出</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-sm-1 col-md-1 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'teacher:EduReform_Info' edu_project.eduproject_id %}" target="mainFrame">项目信息</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'teacher:EduReform_MidTermApply' edu_project.eduproject_id %}" target="mainFrame">中期检查申请</a></li>
            <li><a href="{% url 'teacher:EduReform_ConcluApply' edu_project.eduproject_id %}" target="mainFrame">项目结题申请</a></li>
        </ul>
    </div>
    <div class="col-sm-11 col-sm-offset-1 col-md-11 col-sm-offset-1">
        <iframe name="mainFrame" width="95%" height="500px" scrolling="auto" frameborder="0" src="{% url 'teacher:EduReform_Info' edu_project.eduproject_id %}" style="margin-left: 20px;"></iframe>
    </div>
</div>
</body>

</html>
