{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>教师首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stuSrtpProManage.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">项目信息</h2>
        <table class="table table-hover">
            <tbody>
            <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目基本信息</span></td></tr>
            <tr>
                <td style="font-weight: bold; width: 11%">项目名称</td>
                <td>{{ edu_project.eduproject_name }}</td>
                <td style="font-weight: bold; width: 10%">申请单位</td>
                <td>{{ edu_project.eduproject_belong_unit }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">申请经费（元）</td>
                <td>{{ edu_project.eduproject_fund_appli }}</td>
                <td style="font-weight: bold; width: 10%">类别</td>
                <td>{{ edu_project.get_eduproject_type_display }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">起始日期</td>
                <td>{{ edu_project.eduproject_date_begin }}</td>
                <td style="font-weight: bold">结束日期</td>
                <td>{{ edu_project.eduproject_date_end }}</td>
            </tr>
            <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目负责人简况</span></td></tr>
            <tr>
                <td style="font-weight: bold">姓名</td>
                <td>{{ teacher.teacher_name }}</td>
                <td style="font-weight: bold; width: 10%">性别</td>
                <td>{{ teacher.get_teacher_gender_display }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 10%">出生日期</td>
                <td>{{ teacher.teacher_birth_date }}</td>
                <td style="font-weight: bold; width: 10%">所从事专业</td>
                <td>{{ teacher.teacher_major }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 10%">职称</td>
                <td>{{ teacher.teacher_title }}</td>
                <td style="font-weight: bold; width: 10%">职务</td>
                <td>{{ teacher.teacher_duty }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 10%">手机</td>
                <td>{{ teacher.teacher_phone }}</td>
                <td style="font-weight: bold; width: 10%">邮箱</td>
                <td>{{ teacher.teacher_email }}</td>
            </tr>
            <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">教育教学改革与研究项目申请书</span></td></tr>
            <tr><td colspan="4"><a href="{{ edu_project.eduproject_appli_url }}">{{ edu_project.eduproject_appli_name }}</a></td></tr>
            <tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目组主要成员</span></td></tr>
            <tr>
                <td colspan="4">{{ edu_project.eduproject_member }}</td>
            </tr>

            </tbody>
        </table>
</div>
</body>
</html>
