{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>计通学院排课管理</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'teacher:CourseArrangement_Home' %}">计通学院排课管理</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">通知列表<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">开课通知1</a></li>
                    <li><a href="#">开课通知2</a></li>
                    <li><a href="#">开课通知2</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li id="personCenter">
                <a href="{% url 'teacher:Info' %}" target="_blank" onclick="enterCenter()">个人中心</a>
            </li>
            <li id="exit"><a href="{% url 'main_platform:logout' %}">安全退出</a></li>
        </ul>
    </div>
</nav>
<div style="margin: 10px 20px 0px 20px">
    <h2 class="page-header" style="margin-left: 10px; margin-top: 0px" align="center">北京科技大学本科开课通知（理论教学）</h2>
    <p>开课学院：计算机与通信工程学院</p>
    <form method="post" name="course_form" enctype = "multipart/form-data">
        <table class="table table-striped">
            <tbody>
            <tr style="background-color:#b2dba1"><td colspan="8" align="center"><span style="font-weight: bold">课程信息表</span></td></tr>
            <tr>
                <td style="font-weight: bold; width: 10%">课程编号</td>
                <td style="font-weight: bold; width: 10%">课程名称</td>
                <td style="font-weight: bold; width: 10%">课程类别</td>
                <td style="font-weight: bold; width: 10%">讲课学时</td>
            </tr>
            <tr>
                <td name="course_id">4050642</td>
                <td>无线定位导航原理及应用</td>
                <td>本专业选</td>
                <td>32</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <tbody>
            <tr style="background-color:#b2dba1"><td align="center"><span style="font-weight: bold">开课班级</span></td></tr>
            <tr><td>通信1501</td></tr>
            <tr><td>通信1502</td></tr>
            <tr><td>通信1503</td></tr>
            <tr><td>通信1504</td></tr>
            <tr><td>物联1501</td></tr>
            <tr><td>物联1502</td></tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <tbody>
            <tr style="background-color:#b2dba1"><td align="center" colspan="3"><span style="font-weight: bold">课程安排期望</span></td></tr>
            <tr>
                <td>
                    <select class="form-control" name="zhou_1">
                        <option value="1">1~16周</option>
                        <option value="2">1~8周</option>
                        <option value="3">9~16周</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="xingqi_1">
                        <option value="1">星期一</option>
                        <option value="2">星期二</option>
                        <option value="3">星期三</option>
                        <option value="4">星期四</option>
                        <option value="5">星期五</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="jie_1">
                        <option value="1">第一节</option>
                        <option value="2">第二节</option>
                        <option value="3">第三节</option>
                        <option value="4">第四节</option>
                        <option value="5">第五节</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" name="zhou_2">
                        <option value="0">无</option>
                        <option value="1">1~16周</option>
                        <option value="2">1~8周</option>
                        <option value="3">9~16周</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="xingqi_2">
                        <option value="0">无</option>
                        <option value="1">星期一</option>
                        <option value="2">星期二</option>
                        <option value="3">星期三</option>
                        <option value="4">星期四</option>
                        <option value="5">星期五</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="jie_2">
                        <option value="0">无</option>
                        <option value="1">第一节</option>
                        <option value="2">第二节</option>
                        <option value="3">第三节</option>
                        <option value="4">第四节</option>
                        <option value="5">第五节</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="tijiao()">提交</button>
    </form>
</div>
<script type="text/javascript">
        function tijiao(){
            if (confirm("确认提交吗？")) {
                var form_data = new FormData(document.getElementById("course_form"));
                $.ajax({
                    data: form_data,
                    type: "post", //提交方式
                    processData: false,  //不将data参数序列化处理
                    contentType: false,  //避免JQuery对FormData操作，从而失去分界符
                    //dataType: "json", //数据类型
                    url: "//", //请求url
                    success: function(data) {
                        if (data.status == 'success') {
                            alert("提交成功！");
                        } else if (data.status == 'fail') {

                        }
                    }
                });
            } else {
                return false;
            }
        }
    </script>
</body>
</html>