{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!-- 首页 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本科教学秘书辅助系统</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/form-elements.css'%}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>

<body>
    <!-- Javascript -->
    <script src="{% static 'js/jquery-1.11.1.js'%}"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js'%}"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script src="{% static 'js/sweetalert.min.js'%}"></script>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>欢迎访问本科教学秘书辅助系统</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <p>请输入您的用户名和密码（区分大小写）：</p>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form method="post" class="login-form" id="login-form" name="form1">
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="用户名" class="form-username form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="密码" class="form-password form-control" id="password">
                                </div>
                            </form>
                            <form role="form" method="post" class="login-form" name="form2">
                                <div style="float:left;margin:0 80px 0 20px">
                                    <input type="radio" name="radio1" id="radio1" value="1" style="cursor: pointer">
                                    <label>管理员</label>
                                </div>
                                <div style="float:left;margin:0 65px 0 65px;height:20px;">
                                    <input type="radio" name="radio1" id="radio2" value="2" style="cursor: pointer">
                                    <label>教师</label>
                                </div>
                                <div style="float:left;margin:0 0 0 80px;cursor:pointer">
                                    <input type="radio" name="radio1" id="radio3" value="3" style="cursor: pointer">
                                    <label>学生</label>
                                </div>
                                <div style="width:50%;padding:10px 20px 0 20px;margin:0;float:left;box-sizing:border-box;">
                                    <button type="button" class="btn" id="denglu" onclick="login()">登陆</button>
                                </div>
                                <div style="width:50%;padding:10px 20px 0 20px;margin:0;float:left;box-sizing:border-box;">
                                    <button type="button" class="btn" id="forget" onclick="forgetPassword()">忘记密码</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

