<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="zh-CN">
<!-- 学生首页 -->
	<head>
		<meta charset="UTF-8">
		<title>（学生）欢迎访问本科教学秘书辅助系统</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>

	<body style="font-family: sans-serif; margin: 0; background-image: url(bg.jpg)">
		<div style="margin:100px auto;width: 500px;height: 500px">
			<h1 style="color: #3c3c3c; text-shadow: 0 0 5px; letter-spacing: 1px; text-align: center">(学生)本科教学秘书辅助系统</h1>
            <div style="margin: 50px auto; width: 300px;">
				<a href="{% url 'student:stuSrtp_Home' %}" target="_blank" class="btn btn-primary btn-lg btn-block">srtp项目管理</a>
				<br>
				<a href=""  target="_blank" class="btn btn-default btn-lg btn-block">本科毕业设计项目管理</a>
			</div>

		</div>
	</body>

</html>
