<!DOCTYPE html>
<html>

<head>
    <meta charset=" UTF-8 ">
    <title>修改密码</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
    <script src="../../static/js/sweetalert.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="stuInfo.html" target="_blank">个人信息</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li id="exit"><a href="{% url 'main_platform:logout' %}">安全退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>修改密码</h3>
        </div>
    </div>
    <form>
        <table class="table table-hover">
            <tr>
                <td style="width: 50%;padding-left:40%;">旧密码：</td>
                <td>
                    <input type="password" id="oldpass" />
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-left:40%;">新密码：</td>
                <td>
                    <input type="password" id="newpass" />
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-left:40%;">确认密码：</td>
                <td>
                    <input type="password" id="confirmpass" />
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align:center">
        <input type="button" id="submit" onclick="modify()" class="btn btn-default" style="margin-right: 20px" value="提交" />
        <input type="reset" id="reset" onclick="reset" class="btn btn-danger" style="margin-left: 20px" value="重置" />
    </div>
    <script type="text/javascript">
    function reset() {
        oldpass.value = '';
        newpass.value = '';
        confirmpass.value = '';
        code.value = '';
        oldpass.focus();
    }

    function modify() {
        var reset = document.getElementById('reset');
        var oldpass = document.getElementById('oldpass');
        var newpass = document.getElementById('newpass');
        var confirmpass = document.getElementById('confirmpass');

        if (newpass.value != confirmpass.value) {
            alert("两次输入的新密码不一致，请重新输入！");
            newpass.value = '';
            confirmpass.value = '';
            newpass.focus();
            return false;
        }

        $.ajax({
            data: {
                'oldpass': oldpass.value,
                'newpass': newpass.value,
            },
            type: "post", //提交方式
            dataType: "json", //数据类型
            url: "/modify/", //请求url
            success: function(data) {
                swal("修改成功！", "", "success");
                if (data.status == 'success') {
                    if(data.user_type == '2'){
                        window.top.document.location.href="{% url 'teacher:Srtp_Home' %}";
                    }
                    else if(data.user_type == '3'){
                        window.top.document.location.href="{% url 'student:Srtp_Home' %}";
                    }

                } else if (data.status == 'fail') {
                    alert(data.msg)
                }
            }
        });

    }
    </script>
</body>

</html>
