<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">中期检查申请</h2>
        <form id="midTermForm" enctype="multipart/form-data">
            <table style="border-collapse: collapse; width: 96%; margin-top: 5px">
                <tbody>
                    <tr>
                        <td style="font-weight: bold; width: 10%;"><span style="color: red">*</span>中期检查报告</td>
                        <td>
                            <input type="file" name="file">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="left" style="margin-top: 20px">
                <button type="button" class="btn btn-danger" onclick="midTermPost()">提交</button>
            </div>
        </form>
        <div style="margin-top: 20px">
            <table class="table table-hover">
                <tbody>
                    <tr style="background-color:#b2dba1">
                        <td style="font-weight: bold;">项目名称</td>
                        <td style="font-weight: bold;">提交截止时间</td>
                        <td style="font-weight: bold">审核状态</td>
                        <td style="font-weight: bold">审核节点</td>
                    </tr>
                    <tr>
                        <td>{{ project_name }}</td>
                        <td>{{ midterm.midterm_deadline_date }}</td>
                        <td>{{ midterm.get_midterm_check_status_display }}</td>
                        <td>{{ midterm.get_midterm_check_point_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
    //提交给数据库，并更新页面的表格
    function midTermPost() {
        var form_data = new FormData(document.getElementById("midTermForm"));
        $.ajax({
            data: form_data,
            type: "post", //提交方式
            processData:false,
            contentType:false,
            //dataType: "json", //数据类型
            url: "/stuSrtpMidTermApply/", //请求url
            success: function(data) {
                if (data.status == 'success') {
                    location.reload();
                } else if (data.status == 'fail') {

                }
            }
        })
    }
    </script>
</body>
</html>