<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">中期检查申请</h2>
        <form action="stuSrtpFundManage.html" method="post">
            <table style="border-collapse: collapse; width: 96%; margin-top: 5px">
                <tbody>
                    <tr>
                        <td style="font-weight: bold; width: 10%;"><span style="color: red">*</span>中期检查报告</td>
                        <td>
                            <input type="file">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="left" style="margin-top: 20px">
                <button type="button" class="btn btn-danger">提交</button>
            </div>
        </form>
        <div style="margin-top: 20px">
            <table class="table table-hover">
                <tbody>
                    <tr style="background-color:#b2dba1">
                        <td style="font-weight: bold;">项目名称</td>
                        <td style="font-weight: bold;">提交截止时间</td>
                        <td style="font-weight: bold">审核状态</td>
                        <td style="font-weight: bold">审核节点</td>
                    </tr>
                    <tr>
                        <td>xx</td>
                        <td>2018-6-1</td>
                        <td>审批中</td>
                        <td>教务处审核</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<br>

</html>
