<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
    <!-- flexigrid -->
    <link rel="stylesheet" href="../../static/css/flexigrid.css">
    <link rel="stylesheet" href="../../static/css/flexigrid.pack.css">
    <script src="../../static/js/flexigrid.js"></script>
    <script src="../../static/js/flexigrid.pack.js"></script>
</head>

<body onload="stuSrtpProInfo()">
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">项目信息</h2>
        <table class="table table-hover" id="table_stuSrtpProInfo">
                           <!--  <tr style="background-color:#b2dba1">
                    <td colspan="4"><span style="font-weight: bold">项目基本信息</span></td>
                </tr>
                <tr>
                    <td style="font-weight: bold; width: 10%">所属创新计划</td>
                    <td>xx</td>
                    <td style="font-weight: bold; width: 10%">项目名称</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">项目类型</td>
                    <td>xx</td>
                    <td style="font-weight: bold">项目等级</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">所属学科</td>
                    <td>xx</td>
                    <td style="font-weight: bold">所属学院</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">申请经费（元）</td>
                    <td>xx</td>
                    <td style="font-weight: bold">批准经费（元）</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">项目编号</td>
                    <td>xx</td>
                    <td style="font-weight: bold">项目周期</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">开始时间</td>
                    <td>xx</td>
                    <td style="font-weight: bold">结束时间</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">指导教师</td>
                    <td>xx</td>
                    <td style="font-weight: bold">申请人</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">申请人联系方式</td>
                    <td>xx</td>
                    <td style="font-weight: bold">申请人邮箱</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">成果形式</td>
                    <td>xx</td>
                </tr>
                <tr style="background-color:#b2dba1">
                    <td colspan="4"><span style="font-weight: bold">项目申请书</span></td>
                </tr>
                <tr>
                    <td colspan="4"><a href="#" width="200px">[xxxx]申请书.doc</a></td>
                </tr>
                <tr style="background-color:#b2dba1">
                    <td colspan="4"><span style="font-weight: bold">项目成员</span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span style="float:left;width:40px;">xxx</span>
                        <span style="float:left;width:40px;">xxx</span>
                        <span style="float:left;width:40px;">xxx</span>
                    </td>
                </tr> -->
        </table>
    </div>
    <script type="text/javascript">
    function stuSrtpProInfo() {
        // alert("message");

        $.ajax({
            url: '//',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                //方法中传入的参数data为后台获取的数据
                for (var i in data.data) //data.data指的是数组，数组里是8个对象，i为数组的索引
                {
                    var temp1, temp2, temp3, temp4, temp5, temp6, temp7, temp8, temp9, temp10, temp11, temp12, temp13, temp14;
                    temp1 = '<tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目基本信息</span></td></tr>';
                    temp2 = ' <tr><td style="font-weight: bold; width: 10%">所属创新计划</td><td>' + data.data[i].changxinjihua + '</td><td style="font-weight: bold; width: 10%">项目名称</td><td>' + data.data[i].mingcheng + '</td></tr>';
                    temp3 = '<tr><td style="font-weight: bold">项目类型</td><td>' + data.data[i].leixing + '</td><td style="font-weight: bold">项目等级</td><td>' + data.data[i].dengji + '</td></tr>';
                    temp4 = '<tr><td style="font-weight: bold">所属学科</td><td>' + data.data[i].xueke + '</td><td style="font-weight: bold">所属学院</td><td>' + data.data[i].xueyuan + '</td></tr>';
                    temp5 = '<tr><td style="font-weight: bold">申请经费（元）</td><td>' + data.data[i].shenqinjingfei + '</td><td style="font-weight: bold">批准经费（元）</td><td>' + data.data[i].pizhunjingfei + '</td></tr>';
                    temp6 = '<tr><td style="font-weight: bold">项目编号</td><td>' + data.data[i].bianhao + '</td><td style="font-weight: bold">项目周期</td><td>' + data.data[i].zhouqi + '</td></tr>';
                    temp7 = '<tr><td style="font-weight: bold">开始时间</td><td>' + data.data[i].kaishishijian + '</td><td style="font-weight: bold">结束时间</td><td>' + data.data[i].jieshushijian + '</td></tr>';
                    temp8 = '<tr><td style="font-weight: bold">指导教师</td><td>' + data.data[i].jiaoshi + '</td><td style="font-weight: bold">申请人</td><td>' + data.data[i].shenqinren + '</td></tr>';
                    temp9 = '<tr><td style="font-weight: bold">申请人联系方式</td><td>' + data.data[i].lianxi + '</td><td style="font-weight: bold">申请人邮箱</td><td>' + data.data[i].youxiang + '</td></tr>';
                    temp10 = '<tr><td style="font-weight: bold">成果形式</td><td>' + data.data[i].chengguo + '</td></tr>';
                    temp11 = '<tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目申请书</span></td></tr>';
                    temp12 = '<tr><td><a href="' + data.data[i].shenqingshu + '#" width="200px">' + data.data[i].shenqingshumingzi + '</a></td></tr>';
                    temp13 = '<tr style="background-color:#b2dba1"><td colspan="4"><span style="font-weight: bold">项目成员</span></td></tr>';
                    temp14 = '<tr><td><span style="float:left;width:40px;">' + data.data[i].mingzi1 + '</span><span style="float:left;width:40px;">' + data.data[i].mingzi2 + '</span><span style="float:left;width:40px;">' + data.data[i].mingzi3 + '</span></td></tr>';

                    $("#table_stuSrtpProInfo").append(temp1 + temp2 + temp3 + temp4 + temp5 + temp6 + temp7 + temp8 + temp9 + temp10 + temp11 + temp12 + temp13 + temp14);
                }
            }
        });
    }
    </script>
</body>

</html>
