<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>通知公告</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body onload="tongzhi()">
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="stuSrtpHome.html">北京科技大学SRTP管理平台</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="stuSrtpHome.html">消息通知</a> </li>
                <li><a href="stuSrtpProList.html">项目列表</a> </li>
                <li><a href="stuSrtpProManage.html">项目管理</a> </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li id="personCenter">
                    <a href="../personInfo/stuInfo.html" target="_blank" onclick="enterCenter()">个人中心</a>
                </li>
                <li id="exit"><a href="#">安全退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="biaoti">标题</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <p id="neirong">内容</p>
        </div>
    </div>
    <script type="text/javascript">
    function tongzhi() {
        // document.getElementById("biaoti").innerHTML = "hello";
        // document.getElementById("neirong").innerHTML = "world";
        $.ajax({
            url: '//',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                document.getElementById("biaoti").innerHTML = data.biaoti;
                document.getElementById("neirong").innerHTML = data.neirong;
            }
        });
    }
    </script>
</body>

</html>
