{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!-- 学生SRTP首页 -->
    <head>
        <meta charset="UTF-8">
        <title>SRTP首页-消息通知</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>

        <!-- flexigrid -->
        <link rel="stylesheet" href="{% static 'css/flexigrid.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexigrid.pack.css' %}">
        <script src="{% static 'js/flexigrid.js' %}"></script>
        <script src="{% static 'js/flexigrid.pack.js' %}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="stuSrtpHome.html">北京科技大学SRTP管理平台</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'main_platform:stuSrtp_Home' %}">消息通知</a> </li>
                    <li><a href="{% url 'main_platform:stuSrtp_Prolist' %}">项目列表</a> </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'main_platform:stuSrtp_ProApply' %}" target="_blank">项目申请</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="{% url 'main_platform:stuSrtp_ProManage' %}">我的项目</a></li>
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li id="personCenter">
                        <a href="{% url 'main_platform:stu_Info' %}" target="_blank" onclick="enterCenter()">个人中心</a>
                    </li>
                    <li id="exit"><a href="#">安全退出</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>通知公告</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="list-group">
                    <a href="stuSrtpNotification.html" class="list-group-item">
                        <h4 class="list-group-item-heading">2018大学生创新计划相关事宜</h4>
                        <small>2018.01.01</small>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">2017大学生创新计划相关事宜</h4>
                        <small>2018.01.01</small>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">2016大学生创新计划相关事宜</h4>
                        <small>2018.01.01</small>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">2015大学生创新计划相关事宜</h4>
                        <small>2018.01.01</small>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">2014大学生创新计划相关事宜</h4>
                        <small>2018.01.01</small>
                    </a>
                </div>
                <div align="center">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>
