<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SRTP首页-消息通知</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px" align="center">项目申请</h2>
        <form id="applyForm" enctype="multipart/form-data">
            <table class="table table-hover" id="table_proApply" name="table_proApply">
                <tbody>
                    <tr style="background-color:#b2dba1">
                        <td colspan="4"><span style="font-weight: bold">项目基本信息</span></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; width: 10%">所属创新计划</td>
                        <td>
                            <input type="text" style="background-color: white" name="jihua" id="jihua">
                        </td>
                        <td style="font-weight: bold; width: 10%">项目名称</td>
                        <td>
                            <input type="text" style="background-color: white" name="proname" id="proname">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">项目类型</td>
                        <td>
                            <select name="type" style="width: 40%;height: 28px">
                                <option value="cx" name="cx">创新</option>
                                <option value="cy" name="cy">创业</option>
                            </select>
                        </td>
                        <td style="font-weight: bold">项目等级</td>
                        <td>
                            <select name="rank" style="width: 40%;height: 28px">
                                <option value="1" name="1">一级</option>
                                <option value="2" name="2">二级</option>
                                <option value="3" name="3">三级</option>
                                <option value="4" name="4">四级</option>
                                <option value="5" name="5">五级</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">所属学科</td>
                        <td>
                            <input type="text" style="background-color: white" name="xueke" id="xueke">
                        </td>
                        <td style="font-weight: bold">所属学院</td>
                        <td>
                            <select name="depart" style="width: 40%;height: 28px">
                                <option value="tm" name="tm">土木与资源工程学院</option>
                                <option value="yj" name="yj">冶金与生态工程学院</option>
                                <option value="cl" name="cl">材料科学与工程学院</option>
                                <option value="jx" name="jx">机械工程学院</option>
                                <option value="nh" name="nh">能源与环境工程学院</option>
                                <option value="zdh" name="zdh">自动化学院</option>
                                <option value="jt" name="jt">计算机与通信工程学院</option>
                                <option value="sl" name="sl">数理学院</option>
                                <option value="hs" name="hs">化学与生物工程学院</option>
                                <option value="jg" name="jg">东凌经济管理学院</option>
                                <option value="wf" name="wf">文法学院</option>
                                <option value="mks" name="mks">马克思主义学院</option>
                                <option value="wgy" name="wgy">外国语学院</option>
                                <option value="gg" name="gg">高等工程师学院</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">申请经费（元）</td>
                        <td>
                            <input type="text" style="background-color: white" name="fund" id="fund">
                        </td>
                        <td style="font-weight: bold">项目周期</td>
                        <td>
                            <input type="text" style="background-color: white" name="zhouqi" id="zhouqi">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">开始时间</td>
                        <td>
                            <input type="date" style="background-color: white" name="begin" id="begin">
                        </td>
                        <td style="font-weight: bold">结束时间</td>
                        <td>
                            <input type="date" style="background-color: white" name="end" id="end">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">指导教师</td>
                        <td>
                            <input type="text" style="background-color: white" name="teacher" id="teacher">
                        </td>
                        <td style="font-weight: bold">申请人姓名</td>
                        <td>
                            <input type="text" style="background-color: white" name="stuname_1" id="stuname_1">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">申请人学号</td>
                        <td>
                            <input type="text" style="background-color: white" name="number_1" id="number_1">
                        </td>
                        <td style="font-weight: bold">申请人联系方式</td>
                        <td>
                            <input type="text" style="background-color: white" name="phone" id="phone">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">申请人邮箱</td>
                        <td>
                            <input type="text" style="background-color: white" name="email" id="email">
                        </td>
                        <td style="font-weight: bold">成果形式</td>
                        <td>
                            <input type="text" style="background-color: white" name="results" id="results">
                        </td>
                    </tr>
                    <tr style="background-color:#b2dba1">
                        <td colspan="4"><span style="font-weight: bold">项目申请书</span></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="apply_file" id="apply_file">
                        </td>
                    </tr>
                    <tr style="background-color:#b2dba1">
                        <td colspan="4"><span style="font-weight: bold">项目成员</span></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">学号</td>
                        <td>
                            <input type="text" style="background-color: white" name="number_2" id="number_2">
                        </td>
                        <td style="font-weight: bold">姓名</td>
                        <td>
                            <input type="text" style="background-color: white" name="stuname_2" id="stuname_2">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div>
            <button type="button" class="btn btn-success" style="width: 15%;margin-bottom: 30px;" onclick="add_member()">增加成员</button>
            <button type="button" class="btn btn-primary" style="width: 15%;margin-bottom: 30px;margin-left: 25%" onclick="pro_apply()">提交</button>
        </div>
    </div>
    <script type="text/javascript">
        var member_num=2;
        function add_member(){
            member_num = member_num + 1;
            if(member_num >= 5){
                alert("每个项目最多只能有5个成员（包括申请人）！");
                return false;
            }
            $("#table_proApply").append('<tr><td style="font-weight: bold">学号</td><td><input type="text" style="background-color: white" name="number_' + member_num + '" id="number"></td><td style="font-weight: bold">姓名</td><td><input type="text" style="background-color: white" name="stuname_' + member_num + '" id="stuname"></td></tr>');
        }
        function pro_apply() {
            if(document.getElementById("apply_file").value=='') {
                alert("未上传申请书！");
                return false;
            }
            for(var i=0;i<document.getElementById("applyForm").elements.length-1;i++)
            {
               if(document.getElementById("applyForm").elements[i].value=="")
               {
                  alert("未填写所有内容！");
                  document.getElementById("applyForm").elements[i].focus();
                  return false;
               }
            }
            if (confirm("确认提交吗？")) {
                var form_data = new FormData(document.getElementById("applyForm"));
                form_data.append('member_num',member_num);
                $.ajax({
                    data: form_data,
                    type: "post", //提交方式
                    processData: false,
                     contentType: false,
                    //dataType: "json", //数据类型
                    url: "/stuSrtpProApply/", //请求url
                        success: function(data) {
                            if (data.status == 'success') {

                        } else if (data.status == 'fail') {

                        }
                    }
                });
            } else {
            return false;
            }
        }
    </script>
</body>

</html>
