<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>经费管理</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
    <div style="margin: 10px 20px 0px 20px">
        <h2 class="page-header" style="margin-left: 10px; margin-top: 0px">经费管理</h2>
        <form action="stuSrtpFundManage.html" method="post">
            <table style="border-collapse: collapse; width: 96%; margin-top: 5px">
                <tbody>
                    <tr>
                        <td style="font-weight: bold"><span style="color: red">*</span>具体支出项目摘要</td>
                        <td>
                            <input type="text" style="background-color: white" id="jutizhichu">
                        </td>
                        <td style="font-weight: bold">类别</td>
                        <td>
                            <select class="form-control" id="leibie">
                                <option value="1">差旅费</option>
                                <option value="2">实验费</option>
                                <option value="3">资料费</option>
                                <option value="4">实验耗材费</option>
                                <option value="5">计算机小型存储设备费</option>
                                <option value="6">邮寄费</option>
                                <option value="7">论文版面费</option>
                                <option value="8">成果鉴定费</option>
                                <option value="9">专利申请费</option>
                                <option value="10">文献检索费</option>
                                <option value="11">办公费</option>
                                <option value="12">其他费用</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold"><span style="color: red">*</span>支出金额</td>
                        <td>
                            <input type="text" style="background-color: white" id="jine">
                        </td>
                        <td style="font-weight: bold"><span style="color: red">*</span>支出日期</td>
                        <td>
                            <input type="date" style="background-color: white" id="riqi">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right" style="margin-top: 20px">
                <button type="button" class="btn btn-default" onclick="jinfeiPost()">保存</button>
                <button type="reset" class="btn btn-danger">重置</button>
            </div>
        </form>
        <div style="margin-top: 20px">
            <table class="table table-hover" id="table_stuSrtpFundManage" style="table-layout:fixed">
                <tbody>
                    <tr style="background-color:#b2dba1">
                        <td style="font-weight: bold;">具体支出项目摘要</td>
                        <td style="font-weight: bold;">类别</td>
                        <td style="font-weight: bold">支出金额</td>
                        <td style="font-weight: bold">支出日期</td>
                    </tr>
                    {% for fund in fund_list %}
                        <tr>
                            <td>{{ fund.fund_name }}</td>
                            <td>{{ fund.get_fund_type_display }}</td>
                            <td>{{ fund.fund_num }}</td>
                            <td>{{ fund.fund_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">

    //提交给数据库，并更新页面的表格
    function jinfeiPost() {
        //如果有内容为空，则提示
        if (!document.getElementById("jutizhichu").value || !document.getElementById("jine").value || !document.getElementById("riqi").value) {
            alert("请填写所有带*内容！");
            return false;
        }

        $.ajax({
            data: {
                'jutizhichu': document.getElementById("jutizhichu").value,
                'leibie': document.getElementById("leibie").value,
                'jine': document.getElementById("jine").value,
                'riqi': document.getElementById("riqi").value,
            },
            type: "post", //提交方式
            dataType: "json", //数据类型
            url: "/stuSrtpFundManage/", //请求url
            success: function(data) {
                if (data.status == 'success') {
                    alert(data.msg)
                    location.reload();
                } else if (data.status == 'fail') {

                }
            }
        });
    }
    </script>
</body>
<br>

</html>
