<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>毕业设计论文</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/stuSrtpProManage.css">
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
</head>

<body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'student:Gra_Home' %}">计通学院毕业设计管理平台</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'student:Gra_Home' %}">消息通知</a> </li>
                    <li><a href="{% url 'student:Gra_Modelfile' %}">模板文件</a> </li>
                    <li><a href="{% url 'student:Gra_Proposal' %}">开题报告</a> </li>
                    <li><a href="{% url 'student:Gra_Midterm' %}">中期检查</a> </li>
                    <li class="active"><a href="{% url 'student:Gra_Paper' %}">毕业设计论文</a> </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{% url 'main_platform:stuIndex' %}">首页</a></li>
                    <li id="personCenter">
                        <a href="{% url 'student:Info' %}" target="_blank" onclick="enterCenter()">个人中心</a>
                    </li>
                    <li id="exit"><a href="{% url 'main_platform:logout' %}">安全退出</a></li>
                </ul>
            </div>
        </nav>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>毕业设计论文</h1>
        </div>
    </div>
    <div style="margin: 10px 20px 0px 20px">
        <form id="uploadForm" enctype="multipart/form-data">
            <table style="border-collapse: collapse; width: 70%; margin-top: 5px">
                <tbody>
                    <tr>
                        <td style="font-weight: bold; width: 10%">指导教师姓名</td>
                        <td>
                            <input type="text" style="background-color: white" name="tea_name" id="tea_name">
                        </td>
                        <td style="font-weight: bold"><span style="color: red">*</span>上传毕业设计论文</td>
                        <td>
                            <input type="file" name="biye_file" id="biye_file">
                        </td>
                        <td><button type="button" class="btn btn-danger" onclick="chengguoPost()">上传</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div style="margin-top: 20px">
            <table class="table table-hover" id="table_stuSrtpResultManage" style="table-layout:fixed">
                <tbody>
                    <tr style="background-color:#b2dba1">
                        <td style="font-weight: bold;text-align:center">毕业设计论文报告文件</td>
                        <td style="font-weight: bold;text-align:center">Download</td>
                    </tr>
                    {% for dissertation in dissertation_list %}
                    <tr>
                        <td style="text-align: left">{{ dissertation.file_name }}</td>
                        <td style="text-align: center">
                            <a href="{{ dissertation.file_url }}" target="_blank">下载</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
    //提交给数据库，并更新页面的表格
    function chengguoPost() {
        var flag = 0;
        if (!document.getElementById("tea_name").value) {
            alert("请填写指导教师姓名！");
            flag = 1;
        }
        if (!document.getElementById("biye_file").value){
            alert(" 请上传文件！");
            flag = 1;
        }
        if(flag == 1){
            return false;
        }

        var form_data = new FormData(document.getElementById("uploadForm"));
        $.ajax({
            data: form_data,
            type: "post", //提交方式
            processData:false,
            contentType:false,
            //dataType: "json", //数据类型
            url: "/stu/GraPaper/", //请求url
            success: function(data) {
                if (data.status == 'success') {
                    location.reload();
                } else if (data.status == 'fail') {
                    alert(data.msg);
                }
            }
        })
    }
    </script>
</body>
<br>

</html>
